main>#back_image{
    background-image: url(https://i.shgcdn.com/73595007-ea45-4947-9f96-d4ae9f47f37c/-/format/auto/-/preview/3000x3000/-/quality/lighter/);

}
#back_image{
    /* margin-top: -20px; */
}
main>#back_image>p{
    padding: 120px 100px;
    color: white;
    font-size: 55px;
    font-weight: 900; 
}
main>#content1{
    width: 90%;
    height: 200px;
    margin: auto;
}
main>#content1>p{
    text-align: center;
    font-size: 40px;
    color:rgba(3, 98, 105, 1);
}
main>#content1>p+p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

main>#content2{
    width: 80%;
    margin: auto;
}
main>#content2>p{
    text-align: center;
    font-size: 40px;
    color:rgba(3, 98, 105, 1);
}
main>#content2>#content2_1{
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    column-gap: 20px;
}
main>#content2>#content2_1>div{
   width: 300px;
  
}

main>#content2>#content2_1>div>img+p{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:rgba(3, 98, 105, 1);
}
main>#content2>#content2_1>div>p+p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;  
}
main>#content3{
    width: 90%;
  
    background-color: rgba(3, 98, 105, 1);
    margin: auto;
}
main>#content3>h3{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding-top: 20px;
}
main>#content3>h3+p{
    
    text-align: center;
    width: 90%;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 60px;
}
main>h1{
    text-align: center;
}
main>p{
    text-align: center;
    font-size: 25px;
     color: rgba(3, 98, 105, 1);
     padding-bottom: 50px;
}


