a:link {
  color: black;
}

a:visited {
  color: black;
}

#details p {
  display: inline-block;
}
.gap {
  margin-right: 5%;
  padding: 1.5%;
  color: rgb(143, 143, 143);
}

.link-address {
  font-size: 0.8em;
  margin-top: 4%;
}

#payment h2 {
  font-weight: normal;
  margin-top: 4%;
  margin-bottom: 1%;
}

#payment p {
  margin-bottom: 5%;
}

#payment {
  margin-top: 4%;
  width: 80%;
  border-radius: 5px;
  height: 40vh;
  border: 1px solid rgb(235, 235, 235);
}

.gray {
  background-color: rgb(235, 235, 235);
  height: 80%;
  padding: 0;
  width: 100%;
  margin: 0;
}

.gray input {
  padding: 2%;
  margin: 2%;
  width: 90%;
  border-radius: 5px;
  border: 1px solid rgb(202, 202, 202);
  outline: none;
}

#date,
#cvv {
  padding: 2%;
  margin: 2%;
  width: 40%;
}

#finalstep-btn {
  padding: 12%;
  width: 10vw;
  background-color: #a3b49b;
  border-radius: 5px;
  border: none;
  margin-right: 200px;
  color: #21241f;
  outline: none;
}

#finalstep-btn:hover {
  background-color: #92ac86;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

#finalstep {
  margin-top: 5%;
  color: #545454;
  display: flex;
  gap: 50%;
}

#warn {
  color: red;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 2px;
  height: 2px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#process_animation {
  position: relative;
  bottom: 57px;
  right: 48px;
  width: 0.7px;
  height: 0.7px;
}

.popup {
  z-index: 10000;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 10%;
  right: 38%;
  width: 24vw;
  margin-top: 20%;
  height: 10vh;
  display: block !important;
  box-shadow: 10px 10px 20px black;
}

.fulldisplay {
  opacity: 100%;
}

body {
  position: relative;
}

.dialog {
  width: 360px;
  /* height: 20vh; */
  /* min-height: 650px; */
  position: absolute;
  top: 20%;
  left: 50%;
  margin-top: -120px;
  margin-left: -180px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.dialog-title {
  margin: 0;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  font-weight: normal;
  background: #7e9c30;
}
.dialog-content {
  text-align: center;
  padding: 20px;
}

#m-check-mark {
  margin: 20px 0;
  width: 150px;
  height: auto;
  display: inline;
}

#checkmark {
  stroke-dasharray: 640;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-animation: draw-around 1s infinite;
  -ms-animation: draw-around 1s infinite;
  animation: draw-around 1s infinite;
}
@-ms-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw-around {
  0% {
    stroke-dashoffset: 640;
  }
  10% {
    stroke-dashoffset: 640;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

#homepage {
  width: 100%;
  height: 5vh;
  color: white;
  background: #7e9c30;
  padding: 1%;
  outline: none;
  border: none;
}
#homepage:hover {
  cursor: pointer;
}

a:visited {
  color: white;
}

a:link {
  color: white;
  text-decoration: none;
}
