*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#shopSeller {
    width: 100%;
    height: auto;
}

.sHead {
    color: #333333;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
    padding-bottom: 23px;
    text-align: center;
}

#shopbyid {
    min-width: 1080px;
    max-width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
}

#shopbyid > div {
    width: 33.33%;
    height: auto;   
    margin-bottom: 30px;
}

#shopbyid img {
    width: 100%;
    height: auto;
}

#shopbyid img:hover {
    cursor: pointer;
    position: relative;
    width:103%;
    height:auto;
    display:block;
    transform: scale(1.1);
    transition: all ease 1s;
    backface-visibility: hidden;
}

#shopbyid h4 {
    cursor: pointer;
    z-index: 3;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 20px;
}

#shopbyid p {
    cursor: pointer;
    color: #a3b49b;
    font-size: 16px;
    line-height: 17px;
    padding-top: 10px;
    font-weight: 500;
}

#bestid {   
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: auto;
    margin-top: 20px;
}

/* #bestid::-webkit-scrollbar {
    display: none;
} */

#bestid > div {
    /* border: 1px solid red; */
    width: 245px;
    height: 350px;
    margin-right: 20px;
}

#bestid img {
    width: 245px;
    height: 300px;
}

#bestid h4 {
    cursor: pointer;
    color: #777777;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
}

#imageSlider {
    max-width: 1050px;
    margin: auto;
}

#leftArrow {
    cursor: pointer;
    position: relative;
    top: -175px;
    left: -28px;
}

#rightArrow {
    cursor: pointer;
    position: relative;
    float: right;
    top: -175px;
    right: -28px
}