body{
    margin: 0;
}
#header{
    top:0;
    left: 0;
    box-sizing: border-box;
    position:relative;
    font-family: 'sans-serif';
    text-decoration: none;
    width: 100%;
}

#header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: white;
    font-size: 18px;
    background-color: #ff7451;
}

#header > div > h4 {
    margin-right: 5px;
}

#nav {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
 
    padding-left: 50px;
    height: 80px;
    border: 1px solid red;
}

#logo {
    width: 200px;
    height: 78px;
}

#nav > div {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #777777;
}

#nav p {
    margin-left: 50px;
}
 #slc{
    margin-right: 50px;
 }
#slc > i {
    font-size: 20px;
   
    padding-left: 10px;
    padding-right: 10px;
}