* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

#store-container {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    font-size: 1.2em
}

#citypin {
    width: 90%;
    margin-top: 1%;
    padding-left: 1vw;
}

#search_btn {
    width: 3.5vw;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
}

#location {
    width: 40px;
    margin-top: 2%;
}

#store-container img+p {
    margin-top: 3%;
    font-size: 0.8em;
}

#store-container>div {
    display: flex;
}

#map {
    float: right;
    width: 49vw;
    height: 70vh;
    position: absolute;
    top: 20%;
    right: 18%
}
