main{
    margin: auto;
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
   
    
}
main>h1{
    margin-left: 20px;
    
}
main>#first_flex{
    display: flex;
    column-gap: 10px;
  
    margin-top: 20px;
}
#first_flex>#row1{
 
    width: 40%;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
   
}
#first_flex>#row2{
   
    width: 54%;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    box-sizing: border-box;
}

#first_flex>#row2>#row2_form>input[type=text], #first_flex>#row2>#row2_form>input[type=email], #first_flex>#row2>#row2_form>input[type=Number], #first_flex>#row2>#row2_form>textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 16px;
    resize: vertical;
  }
  #first_flex>#row2>#row2_form>input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #first_flex>#row2>#row2_form>input[type=button]:hover {
    background-color: #45a049;
  }

#first_flex>#row1>h2,#first_flex>#row1>p{
    margin-bottom: 20px;
}
#first_flex>#row1>p{
    font-size: 18px;
    color: #777777;
}

#first_flex>#row2>h2{
    margin-bottom: 30px;
}
