*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 550px;
    background-color: #eef2f0;
    color: #777777;
    font-size: 14px;
}

#infoBox {
    display: flex;
    line-height: 26px;
    padding-top: 80px;
    padding-bottom: 60px;
}

#infoBox a {
    color: #777777;
}

#infoBox, #bottomBox {
    min-width: 1000px;
    max-width: 1000px;
    margin: auto;
}
#infoBox > div {
    width: 250px;
}

#infoBox h4 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

#subsInput {
    outline: none;
    border: none;
    font-size: 16px;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    position: relative;
    top: -10px;
}

#a {
    color: #a3b49b;
}

#a:hover {
    color: #777777;
}

#bottomBox {
    color: #888888;
    line-height: 26px;
    padding: 40px;
    padding-top: 0;
}

#bottomBox > p {
    font-size: 13px;
    margin-bottom: 10px;
}

#bottomBox > div {
    text-align: center;
    padding: 10px;
    border: 1px solid #a3b49b;
    font-size: 9.5px;
    font-weight: 500;
}

#envelope {
    position: relative;
    top: -39px;
    left: 217px;
    color: #777777
}