main{
    margin-top: 3%;
}

main>h1{
    font-family: 'Poppins', sans-serif;
}

main>.row1{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

main>.row1>div>h3,main>.row1>div>p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
} 

main>.row2{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

main>.row2>div>h3,main>.row2>div>p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
} 


main>.row3{
    display: flex;
    justify-content: center;
    column-gap: 30px; 
}

main>.row3>div>h3,main>.row3>div>p{
    width: 300px;
    font-family: 'Poppins', sans-serif;
} 
