*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#slideshow {
    position: relative;
}

#slideshow, .slide {
    width: 100%;
    height: 450px;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: 100%;
}

#barsDiv {
    text-align: center;
    z-index: 50;
}

.bars {
    width: 10px;
    height: 3px;
    cursor: pointer;
    background-color: white;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 1s ease;
    transition: width .1s ease;
    position: relative;
    top: -32px;
}

.change, .bars:hover {
    background-color: #777777;
}

.change {
    width: 30px;
}

.slideTransition {
    position: relative;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 28px;
    border-width: 0px;
    margin: 0px;
    padding: 0px 20px;
    letter-spacing: 0px;
    font-size: 18px;
    left: 205px;
    top: -334px;
}

.slideInShow {
    position: relative;
    left: -225px;
    padding-left: 225px;
    color: #333333;
    line-height: 68px;
    letter-spacing: 0.01em;
    font-weight: 500;
    display: inline-block;
    font-size: 36px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.822);
    -webkit-tap-highlight-color: transparent;
}

.slideContent {
    margin-top: 11px;
    width: 315px;
    font-weight: 500;
    line-height: 28px;
}

.slideContent > button {
    color: rgb(255, 255, 255);
    background: rgb(72, 202, 178);
    border: 0;
    outline: none;
    padding: 14px 30px 16px;
    height: auto;
    font-size: 24px;
    margin-top: 25px;
}

.slideContent > button:hover {
    cursor: pointer;
    background: rgb(51, 51, 51);
}